* {
	box-sizing: border-box;
}

html {
	margin: 0;
}

body {
	width: 100vw;
	height: 100vh;

	overflow-y: auto;

	margin: 0;
	padding: 80px;

	background: repeating-linear-gradient(135deg, #222326 0 30px, #28292c 30px 60px);
	color: #fff;
	font-family: Ubuntu Mono, Ubuntu, sans-serif;
}

main {
	display: flex;
	flex-direction: column;
	align-items: center;
}

video {
	max-width: 400px;
}

.db {
	background: #522;
}

.db.target {
	background: #255;
}