* {
	box-sizing: border-box;
	font-family: Ubuntu Mono, Ubuntu, sans-serif;
	font-weight: 400;
}

body {
	width: 100vw;
	min-width: 300px;
	height: 100vh;

	overflow-y: auto;

	margin: 0;
	padding: 80px;

	line-height: 1.25;

	--bg-stripe-size: 20px;
	background: repeating-linear-gradient(135deg,
			#222326 0 var(--bg-stripe-size),
			#28292c var(--bg-stripe-size) calc(2 * var(--bg-stripe-size))
	);
	color: #fff;
}

main {
	--primary-settings-width: 400px;

	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
}

main > section {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: var(--primary-settings-width);
}

main > section > * {
	margin-bottom: 2em;
}

main video {
	max-width: var(--primary-settings-width);
	max-height: var(--primary-settings-width);

	outline: #fff dashed 2px;
	outline-offset: .5em;
}

:where(#db) {
	background: #522;
}

:where(#db).target {
	background: #255;
}