input,
button {
	font-size: 1em;
	
	outline-offset: .5em;
}

button {
	font-weight: 700;
	line-height: 1.5;
}

input:is([type="number"], [type="text"]) {
	border: 2px;
	border-style: none none solid none;
	
	background: none;
	color: currentColor;
}

rule- {
	display: block;
	width: 100%;
	height: 2px;
	margin: 2em 4em;

	background: currentColor;
}

[disabled],
[data-disabled] {
	opacity: 0.5;
	pointer-events: none;
}

th,
td {
	padding: .15em .5em;
}

th {
	text-align: right;
}

td {
	text-align: left;
}

abbr {
	cursor: help;
}