image: node:latest

cache:
    paths:
        - node_modules/

stages:
    - setup
    - build
    - deploy

setup:
    stage: setup
    script:
        - npm install
    artifacts:
        paths:
            - node_modules/
    only:
        - master

build:
    stage: build
    script: 
        - npm run webdemo-build
    artifacts:
        paths:
            - .webdemo-dist/
    only:
        - master

pages:
    stage: deploy
    script:
        - mv .webdemo-dist public
    artifacts:
        paths:
            - public
    only:
        - master