* {
	box-sizing: border-box;
	font-family: Ubuntu Mono, Ubuntu, sans-serif;
	font-weight: 400;
}

body {
	width: 100vw;
	min-width: 600px;
	height: 100vh;

	overflow-y: auto;

	margin: 0;
	padding: 80px;

	line-height: 1.25;

	--bg-stripe-size: 20px;
	background: repeating-linear-gradient(135deg,
			#222326 0 var(--bg-stripe-size),
			#28292c var(--bg-stripe-size) calc(2 * var(--bg-stripe-size))
	);
	color: #fff;
}

main {
	--control-display-width: 400px;
	--control-settings-width: 500px;

	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
}

main > :where(section) {
	display: flex;
	flex-direction: column;
	align-items: center;
}

main > :where(#primary-control) {
	flex-direction: row;
}

main > :where(#primary-control) > :where(section) {
	display: flex;
	flex-direction: column;
	margin: 0 2em;
}

main > :where(#primary-control) > :where(#control-display) {
	align-items: center;
	width: var(--control-display-width);
}

main > :where(#primary-control) > :where(#control-settings) {
	align-items: stretch;
	width: var(--control-settings-width);
}

main > :where(#primary-control) > :where(section) > * {
	margin-bottom: 2em;
}

:where(#toggle) {
	border-radius: .25em;
	box-shadow: 0 0 0 4px #f66;
}

@keyframes pulse {
	from {
		box-shadow: 0 0 0 4px #1ab;
	}

	to {
		box-shadow: 0 0 0 8px #6ff;
	}
}

:where(#toggle).enabled {
	animation: pulse 2s ease-in-out infinite alternate;
}

:where(#settings-table) {
	border-spacing: 0 1.5em;
}

:where(#settings-table) input {
	width: 100%;
}

:where(#settings-table) .error {
	color: #f66;
}

main video {
	max-width: var(--control-display-width);
	max-height: var(--control-display-width);

	outline: #fff dashed 2px;
	outline-offset: .5em;
}

:where(#db) {
	background: #522;
}

:where(#db).target {
	background: #255;
}

:where(#debug-table) td {	
	min-width: 12em;
	
	font-weight: 700;
}

/*
search-domain-editor {
	display: flex;
	flex-direction: column;
	width: 100%;
}

search-domain-viewer {
	display: grid;
	height: 5em;
	margin: 1em 0;
	position: relative;
}

search-domain-viewer > domain-ranges {
	grid-area: 1 / 1;
	display: flex;
}

search-domain-viewer > domain-ranges > * {
	flex-grow: 1;
}

search-domain-viewer > domain-ranges > domain-included {
	background: #4488887f;
}

search-domain-viewer > domain-ranges > domain-excluded {
	background: #8844447f;
}

search-domain-viewer > domain-handles {
	grid-area: 1 / 1;
}

domain-handles {
	position: relative;
}

domain-handles > * {
	height: 100%;
	position: absolute;
}

domain-handles > center- {
	left: 50%;

	outline: 2px dashed #ffffff7f;
}

domain-handles > handle- {
	--offset: 0;

	width: 16px;
	border: 4px solid;
}

domain-handles > handle-:hover {
	background: #ffffff7f;
	cursor: ew-resize;
}

domain-handles > handle-.left {
	right: calc(100% * (1 - var(--offset)));
	border-left-color: #0000;

	filter: drop-shadow(-4px 4px 4px #000);
}

domain-handles > handle-.right {
	left: calc(100% * var(--offset));
	border-right-color: #0000;

	filter: drop-shadow(4px 4px 4px #000);
}

search-domain-editor > search-bounds {
	display: flex;
	justify-content: space-between;
}

search-domain-editor > search-bounds input {
	width: 6em;
} */